@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
  /* scroll-behavior: smooth; */
}
body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Roboto", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --primary-color: #22577a;
  --secondary-color: #38a3a5;
  --third-color: #57cc99;
  --fourth-color: #80ed99;
}
.container {
  max-width: 1024px;
}
.anchor {
  display: block;
  height: 50px;
  margin-top: -50px;
  visibility: hidden;
}
/* Language */
.english {
  display: none;
}
.active {
  display: block;
}
/* NAVBAR */
.navbar {
  padding: 0;
  box-shadow: rgba(26, 26, 26, 0.7) 0 0 4px;
}
.navbar-brand img {
  height: 60px;
}
.navbar-collapse {
  justify-content: flex-end;
}
.nav-link {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 2px;
}
.nav-link:hover {
  color: var(--secondary-color);
}
.nav-link.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
/* .language-toogle {
  height: 26px;
  width: 26px;
  cursor: pointer;
} */
.language-toogle {
  position: relative;
}
.language-toogle i {
  font-size: 24px;
  line-height: 30px;
  color: var(--primary-color);
}
.language-toogle i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}
.language-toogle img {
  width: 16px;
  position: absolute;
  top: -4px;
  right: -4px;
}
/* BANNER */
.banner {
  margin-top: 60px;
}
.banner h3 {
  color: #227ca5;
}
.banner h1 {
  color: #2b1f5b;
}
/* STATISTICAL */
.virus-icon {
  height: 40px;
  margin-right: 8px;
}
.content-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--primary-color);
}
.statistical {
  margin-top: 56px;
  overflow: hidden;
}
.static-content {
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  background-image: url(./images/statistical-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 50px 0;
}
.static-content h4 {
  font-size: 24px;
}
.static-content p {
  font-size: 24px;
}
.static-content .col-content {
  border-right: 1px solid white;
}
.static-content .last-content {
  border: none;
}
/* WHAT IS COVID */
.what-is-covid {
  color: var(--primary-color);
  background-image: url(./images/what-is-covid-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.what-is-covid h1 {
  font-size: 50px;
}
.what-is-covid p {
  text-align: justify;
}
.what-is-covid-content {
  padding: 80px 0;
}
/* SYMPTOMS OF COVID */
.symptoms-of-covid {
  margin-top: 56px;
}
.symptoms-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.symptoms-content img {
  max-width: 160px;
}
.symptoms-content p {
  color: var(--primary-color);
  font-weight: 700;
}
